In [1]:
import pandas as pd
import numpy as np 
df=pd.read_csv('student1.csv')
df

    1     anil  TE  56.77  22
0   2     amit  TE  59.77  21
1   3   aniket  BE  76.88  19
2   4  ajinkya  TE  69.66  20
3   5     asha  TE  63.28  20
4   6   ayesha  BE  49.55  20
5   7     amar  BE  65.34  19
6   8    amita  BE  68.33  23
7   9     amol  TE  56.75  20
8  10    anmol  BE  78.66  21

In [7]:
x.to_csv{'output.csv',index= False }

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2710973658.py, line 1)